---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: echoserver
spec:
  selector:
    matchLabels:
      app: echoserver
  template:
    metadata:
      labels:
        app: echoserver
    spec:
      replicas: 10
      containers:
        - env:
            - name: PORT
              value: '8080'
          image: "image-registry.openshift-image-registry.svc:5000/echoserver/echo-server:latest"
          imagePullPolicy: IfNotPresent
          name: echoserver
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            limits:
              cpu: 100m
              memory: 32Mi
            requests:
              cpu: 100m
              memory: 32Mi
